<section class="main-banner container-fluid div-with-shadow">
  <div class="main-banner-image col-md-4 main-banner-left">
    <%= image_tag("main-banner.png", alt: "guitarrist") %>
  </div>
  <div class="col-md-8 main-banner-right">
    <div class="main-banner-title">
      <h1>Plan a concert!</h1>
    </div>
    <div class="main-banner-content">
      <h3>Do you want to play?  It’s so simple, just select a date and apply to play at the venue.</h3>
    </div>
    <div class="main-banner-form">
      <%= form_tag("/search", method: "get") do %>
        <%= label_tag(:date, "Date", class: "input-label") %><br/>
        <%= date_field_tag(:date, Date.today, class: "input-white") %>
        <%= text_field_tag(:location, nil, class: "input-white") %>
        <%= link_to "Show me venues", "#fakelink", class: "btn btn-green" %>
        <!-- <#%= submit_tag("Show me venues", class: "btn btn-green") %> -->
      <% end %>
    </div>
  </div>
</section>

<div class="content container">
  <section class="index-panels">
    <h1>Concerts</h1>

    <% @concerts.each do |concert| %>
      <%= render 'partials/panels/panel_concert', 
                 concert: concert, 
                 band: Band.find_by_id(concert.band_id),
                 venue: Venue.find_by_id(concert.venue_id)%>
    <% end %>
   
  </section>
</div>