<script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>

<section id="show-info" class="container">
  <div class="col-md-4">
    <div id="show-image">
      <%= image_tag @band.generate_photo_url(@band.name) %>
    </div>
  </div>
  <div class="show-content col-md-8">
    <%= image_tag "thunder-icon.png", class: "category-icon", alt: "thunder-icon" %>
    <h2 class="show-category">Concert</h2>
    <h1 class="concerts-band-name">
      <%= link_to @band.name, band_path(@band) %>
    </h1>
    <h3>
      Gender <%= @band.gender %> (<%= @band.bandtype %> music)
    </h3>
    <p><%= @band.language %></p>
    <h2 class="concerts-venue-name">
      <%= link_to @venue.name, venue_path(@venue) %>
    </h2>
    <div class="show-data">
      <p class="title">date:</p>
      <p><%= @concert.date %></p>
    </div>
    <div class="show-data">
      <p class="title">hour:</p>
      <p><%= @concert.time_format %></p>
    </div>
    <div class="show-data">
      <p class="title">address:</p>
      <p id="venue-address" data-latitude="<%= @venue.latitude %>" data-longitude="<%= @venue.longitude %>"><%= @venue.address %></p>   
    </div>
    <div id="map"></div>
  </div>
</section>