<section id="band-info" class="container">
  <div class="col-md-3">
    <div id="profile-image">
      <%= image_tag @band.generate_photo_url(@band.name) %>
    </div>
  </div>
  <div class="col-md-9">
    <%= image_tag "quaver.png" %>
    <h2>Events</h2>
    <h1 class="profile-band-name" data-id="<%= @band.id %>">
      <%= @band.name %>
    </h1>
    <p><%= @band.description %></p>
  </div>
</section id="band-info">
<section class="calendar band-calendar container-fluid">
    <div id='calendar' class="container"></div>
    <div class="calendar-venues-availables container"></div>  
</section>

  
<section class="calendar-outstanding-concerts container"></section>
