<div class="content container">
  <section class="bands-show">
    <div class="col-md-4">
      <div class="bands-show-image">
        <%= image_tag @band.generate_photo_url(@band.name) %>
      </div>
    </div>
    <div class="bands-show-content col-md-8">
      <h1 class="bands-name"><%= @band.name %>
      </h1>
      <p>participants:</p>
      <ul>
        <% @band.participants.each do |participant| %>
           <li>
             <%= link_to participant.name, band_participant_path(participant.band_id, participant.id) %>:
             <%= participant.instrument %>           
           </li>   
        <% end %>    
      </ul>
      <p>gender: <%= @band.gender %></p>
      <p>band type: <%= @band.bandtype %></p>
      <p>city: <%= @band.city %></p>
      <p>language: <%= @band.language %></p>
    </div>
  </section>
</div>