<div class="col-md-3 col-sm-6">
  <a href="<%= band_path(band) %>" id="panel-link">
    <article class="panel">
      <div class="panel-image">
        <%= image_tag band.generate_photo_url(band.name) %>
      </div>
      <header>
        <h1><%= band.name %></h1>
      </header>
      <div class="panel-content">
        <p>Gender <%= band.gender %>-<%= band.bandtype %> music</p>
        <p>Language - <%= band.language %></p>
      </div>
    </article>
  </a>
</div>