<div class="col-md-3 col-sm-6">
  <article class="panel">
    <div class="panel-image">
      <%= image_tag "bands/topper-chopper.jpg" %>
    </div>
    <header>
      <h1><%= band.name %></h1>
    </header>
    <div class="panel-content">
      <p>Gender <%= band.gender %>-<%= band.type %> music</p>
      <p>Language - <%= band.language %></p>
    </div>
  </article>
</div>